Fabric/Puzzel/Dialler/Puzzel_Dialer_Migrering.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "0f452c5f-725a-b3d5-4e04-9e655c5e9638",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Notebook Dialler Migrering",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "Puzzel_Dialler",
                  "fileName": {
                    "value": "@concat(\n  formatDateTime(utcNow(), 'yyyy-MM-dd'),\n  '/Migrering_Out.csv'\n)",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ";",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "Puzzel_Altibox",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "dcddaf9e-0415-4d65-894b-104157b74950",
                    "workspaceId": "6b06974a-4346-4a38-bc5a-d42e564a6bec",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "SftpWriteSettings",
              "operationTimeout": "01:00:00",
              "useTempFileRename": true
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "SftpLocation",
                  "folderPath": "/Dialer",
                  "fileName": "Migrering.csv"
                },
                "columnDelimiter": ";",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "37ff433e-d594-4a42-ae1d-18b2e7b8a25f"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Migrering_SFTP_BACKUP",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Office365Email",
        "typeProperties": {
          "body": "<p>Der er opstået en fejl i notebook, som danner listen til Servicekald. Fejlen kan være midlertidig, hvis ikke at der er nye kunder.&nbsp;</p>",
          "to": "driftbi@altibox.dk",
          "subject": "Fejl i servicekaldsliste Notebook"
        },
        "externalReferences": {
          "connection": "6adb8103-e8bb-4785-a50b-718fc7c2a6b8"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Office365Email1",
        "dependsOn": [
          {
            "activity": "Notebook Dialler Migrering",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(\n  activity('Notebook Dialler Migrering').output.result.exitValue,\n  'TOM DATAFRAME'\n)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Office365Email",
              "typeProperties": {
                "body": "<p>Der er ikke opstået en fejl i notebook, der er blot ingen nye kunder i dag.&nbsp;</p>",
                "to": "driftbi@altibox.dk",
                "subject": "Ingen nye kunder i dag"
              },
              "externalReferences": {
                "connection": "6adb8103-e8bb-4785-a50b-718fc7c2a6b8"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Office365Email2",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "AzureBlobStorageReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "Puzzel_Dialler",
                        "fileName": {
                          "value": "@concat(\n  formatDateTime(utcNow(), 'yyyy-MM-dd'),\n  '/Migrering_Out.csv'\n)",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Puzzel_Altibox",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "57b74950-1041-894b-4d65-0415dcddaf9e",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "SftpWriteSettings",
                    "operationTimeout": "01:00:00",
                    "useTempFileRename": true
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "SftpLocation",
                        "folderPath": "/Dialer",
                        "fileName": "Migrering.csv"
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "37ff433e-d594-4a42-ae1d-18b2e7b8a25f"
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Migrering_SFTP",
              "dependsOn": []
            }
          ]
        },
        "name": "Mail_Ingen_Nye_Kunder",
        "description": "Sender mail for at oplyse om manglende levering af diallerliste",
        "dependsOn": [
          {
            "activity": "Notebook Dialler Migrering",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ]
  }
}