Fabric/Puzzel/Load Data/Load_Puzzle_Dimensions.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[utl].[GetQueries]",
            "storedProcedureParameters": {
              "FullLoad": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.FullLoad",
                  "type": "Expression"
                }
              },
              "LoadFrequency": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.LoadFequency",
                  "type": "Expression"
                }
              },
              "ToSchema": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.ToSchema",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "Golden_warehouse",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "e53bd032-acff-4e0b-9fbf-af74e4125510",
                  "endpoint": "7xicscz5vrfenntrcuaryzucyu-jklqm22gim4evpc22qxfmstl5q.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "6b06974a-4346-4a38-bc5a-d42e564a6bec"
                },
                "externalReferences": {
                  "connection": "87314f00-4d75-44be-9d66-4eed736f03ca"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetQueries",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('GetQueries').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "@{item().SourceQuery}",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "SqlServerTable",
                    "typeProperties": {
                      "database": "ConnectCallData_451261"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "55ae7e95-3c55-4877-9cf0-95eeea26df83"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "applyVOrder": true,
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "schema": "dbo",
                      "table": {
                        "value": "@{item().TableName}",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Puzzel_Altibox",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "57b74950-1041-894b-4d65-0415dcddaf9e",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 1,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy one table",
              "dependsOn": []
            }
          ]
        },
        "name": "Get data from tables",
        "dependsOn": [
          {
            "activity": "GetQueries",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[Update_Puzzel_Agent_T2]"
        },
        "connectionSettings": {
          "name": "Golden_warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e53bd032-acff-4e0b-9fbf-af74e4125510",
              "endpoint": "7xicscz5vrfenntrcuaryzucyu-jklqm22gim4evpc22qxfmstl5q.datawarehouse.fabric.microsoft.com",
              "workspaceId": "6b06974a-4346-4a38-bc5a-d42e564a6bec"
            },
            "externalReferences": {
              "connection": "87314f00-4d75-44be-9d66-4eed736f03ca"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Update agents T2",
        "dependsOn": [
          {
            "activity": "Get data from tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[Update_Puzzel_Agents]"
        },
        "connectionSettings": {
          "name": "Golden_warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e53bd032-acff-4e0b-9fbf-af74e4125510",
              "endpoint": "7xicscz5vrfenntrcuaryzucyu-jklqm22gim4evpc22qxfmstl5q.datawarehouse.fabric.microsoft.com",
              "workspaceId": "6b06974a-4346-4a38-bc5a-d42e564a6bec"
            },
            "externalReferences": {
              "connection": "87314f00-4d75-44be-9d66-4eed736f03ca"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Update agents master names and email",
        "dependsOn": [
          {
            "activity": "Get data from tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Office365Email",
        "typeProperties": {
          "body": "<p>Der er opstået en fejl i @{pipeline().PipelineName}.&nbsp;</p>\n<p>Denne pipeline består af at hente dimensionstabeller fra Puzzel og to procedures.&nbsp;</p>\n<p>- @{activity('Copy one table').output}</p>\n<p>-@{activity('Copy one table').output.dataRead}</p>\n<p>-@{activity('Copy one table').output.filesRead}</p>\n<p>-@{activity('Copy one table').output.dataWritten}</p>\n<p>-@{activity('Copy one table').output.filesWritten}</p>\n<p>-@{activity('Copy one table').output.rowsRead}</p>\n<p>-@{activity('Copy one table').output.rowsCopied}</p>\n<p>-@{activity('Copy one table').output.copyDuration}</p>\n<p>-@{activity('Copy one table').output.throughput}</p>\n<p><br></p>\n<p><br></p>",
          "to": "driftbi@altibox.dk",
          "subject": {
            "value": "@pipeline().PipelineName",
            "type": "Expression"
          }
        },
        "externalReferences": {
          "connection": "a2629348-dff2-49f3-88ac-34b5c2a79038"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Office365Email1",
        "dependsOn": [
          {
            "activity": "Get data from tables",
            "dependencyConditions": [
              "Failed"
            ]
          },
          {
            "activity": "Update agents master names and email",
            "dependencyConditions": [
              "Failed"
            ]
          },
          {
            "activity": "Update agents T2",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "LoadFequency": {
        "type": "int",
        "defaultValue": 1
      },
      "ToSchema": {
        "type": "string",
        "defaultValue": "puz"
      },
      "FullLoad": {
        "type": "int",
        "defaultValue": 0
      }
    }
  }
}